body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 400px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

h1 {
    background-color: #128cb5;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#chat-box {
    height: 300px;
    padding: 20px;
    overflow-y: auto;
    background-color: #f1f1f1;
}

.bot-message {
    background-color: #e0ffe0;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 80%;
}

.user-message {
    background-color: #cce7ff;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    align-self: flex-end;
}

form {
    display: flex;
    border-top: 1px solid #ddd;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

button {
    padding: 10px;
    background-color: #128cb5;
    color: white;
    border: none;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

button:hover {
    background-color: #128cb5;
}